/*
 * Tvibit - wireless split keyboard (nice!nano v2 / nRF52840, BLE).
 * Left = central, Right = peripheral. 42 + 42 = 84 keys, clean 6 rows x 7 cols.
 *
 * STARTER keymap - tweak freely (or live-edit via ZMK Studio).
 * Binding order follows the matrix-transform in boards/shields/tvibit/tvibit.dtsi.
 *
 * Layers:  0 BASE   1 LOWER (sym/num)   2 RAISE (nav/F-keys)   3 ADJUST (BT/sys)
 *          ADJUST auto-activates when LOWER + RAISE are held together.
 *
 * Row layout: 0=F-keys  1=numbers  2=QWERTY  3=home  4=ZXCV  5=thumbs/arrows.
 * Row 5 (bottom) holds the 3 thumb keys + the right arrow block
 * (inverted-T: UP above DOWN, flanked by LEFT/RIGHT).
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&trans  &kp ESCAPE      &kp F1        &kp F2        &kp F3     &kp F4       &kp F5     &kp F6     &kp F7         &kp F8     &kp F9    &kp F10   &kp F11           &kp F12
&trans  &kp GRAVE       &kp N1        &kp N2        &kp N3     &kp N4       &kp N5     &kp N6     &kp N7         &kp N8     &kp N9    &kp N0    &kp MINUS         &kp EQUAL
&trans  &kp TAB         &kp Q         &kp W         &kp E      &kp R        &kp T      &kp Y      &kp U          &kp I      &kp O     &kp P     &kp RBKT          &kp BSLH
&trans  &kp CAPSLOCK    &kp A         &kp S         &kp D      &kp F        &kp G      &kp H      &kp J          &kp K      &kp L     &kp SEMI  &kp SQT           &kp PRINTSCREEN
&trans  &kp LEFT_SHIFT  &kp Z         &kp X         &kp C      &kp V        &kp B      &kp N      &kp M          &kp COMMA  &kp DOT   &kp FSLH  &kp LEFT_BRACKET  &kp INSERT
&trans  &kp LCTRL       &kp LEFT_ALT  &kp LEFT_WIN  &lt 2 TAB  &lt 1 SPACE  &mkp LCLK  &lt 3 RET  &kp BACKSPACE  &kp DEL    &kp LEFT  &kp UP    &kp DOWN          &kp RIGHT
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &trans     &trans    &trans    &trans    &trans     &trans     &trans    &trans    &trans     &trans    &trans  &trans
&trans  &trans  &trans     &trans    &trans    &trans    &trans     &trans     &trans    &trans    &trans     &trans    &trans  &trans
&trans  &trans  &kp MINUS  &kp PLUS  &kp LPAR  &kp RPAR  &kp EQUAL  &kp EXCL   &kp LBKT  &kp RBKT  &kp ASTRK  &kp AMPS  &trans  &trans
&trans  &trans  &kp N1     &kp N2    &kp N3    &kp N4    &kp N5     &kp N6     &kp N7    &kp N8    &kp N9     &kp N0    &trans  &trans
&trans  &trans  &kp DLLR   &kp AT    &kp HASH  &kp DQT   &kp SQT    &kp UNDER  &kp LBRC  &kp RBRC  &kp PRCNT  &kp BSLH  &trans  &trans
&trans  &trans  &trans     &trans    &trans    &trans    &trans     &trans     &trans    &trans    &trans     &trans    &trans  &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &trans  &trans      &trans    &trans      &trans        &trans        &trans    &trans     &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans      &trans    &trans      &trans        &trans        &trans    &trans     &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans      &trans    &trans      &trans        &trans        &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &trans  &trans  &trans
&trans  &trans  &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp C_VOL_DN  &kp C_VOL_UP  &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &trans  &trans  &trans
&trans  &trans  &trans      &trans    &trans      &trans        &trans        &trans    &trans     &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans      &trans    &trans      &trans        &trans        &trans    &trans     &trans     &trans     &trans  &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans      &trans  &trans  &trans             &trans           &trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans
&trans  &trans      &trans  &trans  &trans             &trans           &trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans
&trans  &trans      &trans  &trans  &bootloader        &trans           &trans  &trans        &trans        &bootloader   &trans        &trans        &trans  &trans
&trans  &bt BT_CLR  &trans  &trans  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans
&trans  &trans      &trans  &trans  &trans             &trans           &trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans
&trans  &trans      &trans  &trans  &trans             &trans           &trans  &trans        &trans        &trans        &trans        &trans        &trans  &trans
            >;
        };
    };
};
